body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: royalblue;
    padding: 20px 40px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-weight: bold;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 30px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: royalblue;
}

fieldset {
    border: 1px solid black;
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

legend {
    padding: 0 5px;
    color: #000;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 300px;
    padding: 5px;
    border: 1px solid #a9a9a9;
    border-radius: 2px;
    margin-bottom: 10px;
}

button {
    background-color: #e9e9ed;
    border: 1px solid #8f8f9d;
    color: black;
    padding: 5px 40px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 3px;
}

button:hover {
    background-color: #d0d0d5;
}

table {
    border-collapse: collapse;
    width: 50%;
    min-width: 400px;
    margin: 20px;
}

th {
    background-color: dimgray;
    color: white;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 12px 15px;
    color: black;
}

tr {
    height: 40px;
}

h2, h3 {
    margin-left: 20px;
}

aside {
    display: block;
}